body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
    border: solid 1px black;
    border-bottom: none;
    border-top: none;
}
.inputCode{
    width: 300px;
    height: 300px;
}

header {
    background-color: #000066;
    width: 100% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    background-color: #66bd6a;
    font-size: 20px;
    color: white;
    padding: 30px 50px;
    border-radius: 12px;
    border: 2px solid #66bd6a;  
    bottom: 300px;
    justify-content: space-between;
    right: 500px;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;


}

button:hover {
    background-color: #4bb34c;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

textarea {
    width: 600px;
}

#Output {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 0px;
}

.buttonFlex {
    margin-top: 20px;
}