body {
    font-family: Arial;
    margin: 0;
}

.head {
    padding: 1px;
    text-align: center;
    background: #000066, #000000;
    color: #f5f5f5;
    font-size: 30px;
}

header {
    background-color: #000066;
    width: 100% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#lineone {
    margin-top: 0.1%;
    margin-left: 49.5%;
}

#linetwo {
    margin-top: 0.1%;
    margin-left: 53%;
}

#linethree {
    margin-top: 0.1%;
    margin-left: 25%;
}

#linefour {
    margin-top: 0.1%;
    margin-left: 78.6%;
}

#linefive {
    margin-top: 0.1%;
    margin-left: 78.6%;
}

.setup {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.html {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.css {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.git {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.php {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.js {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.bit {
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 25px;
    border: 5px solid white;
}

.button1 {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: 2%;
    margin-top: 1.6%;
}

.button2 {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: 5%;
    margin-top: 1.6%;
}

.button3 {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left: 8%;
    margin-top: 1.6%;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.text {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
}

.quiz {
    background-color: #5bc0de;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.quiz-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50%;
}

.join {
    background-color: #5bc0de;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.join-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 90%;
}

.start {
    background-color: #5bc0de;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.start-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 90%;
}

html body {
    background: linear-gradient(-150deg, #000066, #000000);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 75%
    }
    50% {
        background-position: 100% 20%
    }
    100% {
        background-position: 0% 20%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.btn {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    margin-top: 20px;
    transition: color 0.75s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px;
    position: relative;
    border: 5px solid transparent;
     -moz-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg) 5 round;
      -webkit-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg) 5 round;
      -o-border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg) 5 round;
      border-image: url(http://maxschulmeister.com/sneakin/assets/images/svg/scanframe.svg) 5 round;
      cursor: pointer;
  }
  
  .btn:hover {
    color: white;
    transition: color 0.75s ease-in-out;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    bottom: -5px;
    padding-right: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid white;
    border-right:5px solid white;
    visibility: hidden;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    padding-left: 5px;
    width: 100%;
    height: 100%;
    border-top: 5px solid white;
    border-left: 5px solid white;
    visibility: hidden;
  }
  
  .btn:hover:before {
    animation: topleft 0.5s ease-in-out forwards;
  }
  
  .btn:hover:after {
    animation: bottomright 0.5s ease-in-out forwards;
  }
  
  .btn.active:before {
    animation: revtopleft 0.5s ease-in-out forwards;
  }
  
  .btn.active:after {
    animation: revbottomright 0.5s ease-in-out forwards;
  }
  
  .btn.active:before,
  .btn.active:after {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  
  .btn.temp:before, .btn.temp:after {
    width: 100%;
    height: 100%;
    visibility: visible;
  } 

  @keyframes bottomright {
    0% {
      width: 0;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    50% {
      height: 100%;
      width: 100%;
      visibility: visible;
    }
    75% {
      visibility: visible;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes revbottomright {
    0% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    50% {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    75% {
      width: 100%;
      height: 0;
      padding-top: 0;
      visibility: visible;
    }
    100% {
      width: 0;
      height: 0;
      padding-top: 0;
      visibility: hidden;
    }
  }
  
  @keyframes topleft {
    0% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    25% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    50% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    75% {
      width: 100%;
      height: 0;
      padding-bottom: 0;
      visibility: visible;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes revtopleft {
    0% {
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
    25% {
      width: 100%;
      height: 0;
      padding-bottom: 0;
      visibility: visible;
    }
    50% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    75% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
    100% {
      width: 0;
      height: 0;
      padding-bottom: 0;
      visibility: hidden;
    }
  }